###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto eol=lf

###############################################################################
# Source files
###############################################################################

*.md    text eol=lf
*.rb    text eol=lf
*.yml   text eol=lf
